.error-msg {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
     margin-top: 15rem;
}

.errormsg {
    margin-top: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

