.footer-info {
  display: flex;
  flex-direction: column; 
  gap: 0.5rem; 
  color:#fff;
  font-family: Arial, Helvetica, sans-serif;
  margin-right: 1rem;

  .footer-row {
    gap: 0.5rem;
    align-items: center;
    display: flex;

    .icon {
      font-size: 1.2rem;
    }
  }

  .phone {
    padding-right: 0.5rem;
  }
}