body {
    background: linear-gradient(to right, #00b09b, #96c93d);
}

header {
    height: 50px;
    background-color: #145a32;
    padding: 0.5rem;
    display: flex;
    align-items: center;
}

main {
 flex: 1; 
 justify-content: center;
 align-items: center;
 color: #000; 
}

footer {
    height: 100px;
    background-color: #145a32;
    color: #fff;
    padding: 0.5rem;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    
}